.component-header {
    background: #3F72AF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}

.text-white {
    font-family: Roboto;
    color: #FFFFFF;
}

.text-blue {
    font-family: Roboto;
    color: #8FB6FF;
}

.logo-img-path {
    fill: #3F72AF;
}

.icon-size {
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 24px;
}

.todo-list-size {
    font-size: 36px;
    line-height: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 65px;
}

.task-navlink {
    font-size: 24px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.hand-percent-width {
    width: 100%;
}

.add-end {
    font-size: 20px; 
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    position: absolute;
    right: 29.87px;
}

.list-item-size {
    width: 1000px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.div-center-position {
    position: relative;
    top: 50%;
    left: 50%;
} 

.hr-style {
    height: 1px;
    width: 1000px;
    background:#3F72AF;
    position:absolute;
	bottom:0;
}

.div-in-one-line {
    display: inline-block;
}

.div-left {
    float: left;
    padding-bottom: 0px;
    padding-top: 8px;
}

.div-right {
    float: right;
    position: absolute;
    right: 22px;
}

.item-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.folder-icon-size {
    font-size: 24px;
    stroke-width: 5px;
    vertical-align: bottom;
}

.category-text-item {
    font-size: 18px;
    line-height: 24px;
    color:#3F72AF;
    padding-left: 4px;
}

.in-line {
    display: inline;
}

.font-roboto {
    font-family: Roboto;
}

.description-style {
    padding-left: 16px;
    padding-top: 8px;
    font-size: 18px;
}

.cross-size {
    font-size: 24px;
    float: right;
    position: inherit;
}

.list-item-size:hover {
    background-color: rgba(37, 127, 234, 0.2);
}


